<div class="info">
  <div class="container">
     <div class="personal-title">
       Личный кабинет
     </div>

    <div class="personal-page-selector">
      <div class="personal-page active">Личные данные</div>
      <div class="personal-page" routerLink="/orders">Ваши заказы</div>
    </div>

    <div class="data-form" [formGroup]="userInfoForm">

      <div class="data-form-block">
        <div class="data-form-label">
           Личные данные
        </div>
        <div class="data-form-label-additional">
          Введённые данные автоматически подставятся при оформлении заказа.
        </div>
        <div class="data-form-inputs personal-data-inputs">
          <input type="text" class="input" placeholder="Фамилия"
                 [ngStyle]="{'border-color': userInfoForm.get('lastName')?.invalid
                   && (userInfoForm.get('lastName')?.dirty || userInfoForm.get('lastName')?.touched) ? 'red' : '' }"
                 formControlName="lastName">
          <input type="text" class="input" placeholder="Имя"
                 [ngStyle]="{'border-color': userInfoForm.get('firstName')?.invalid
                   && (userInfoForm.get('firstName')?.dirty || userInfoForm.get('firstName')?.touched) ? 'red' : '' }"
                 formControlName="firstName">
          <input type="text" class="input" placeholder="Отчество"
                 [ngStyle]="{'border-color': userInfoForm.get('fatherName')?.invalid
                   && (userInfoForm.get('fatherName')?.dirty || userInfoForm.get('fatherName')?.touched) ? 'red' : '' }"
                 formControlName="fatherName">
          <input type="text" class="input" placeholder="Телефон"
                 [ngStyle]="{'border-color': userInfoForm.get('phone')?.invalid
                   && (userInfoForm.get('phone')?.dirty || userInfoForm.get('phone')?.touched) ? 'red' : '' }"
                 formControlName="phone">
          <input type="text" class="input" placeholder="E-mail"
                 [ngStyle]="{'border-color': userInfoForm.get('email')?.invalid
                   && (userInfoForm.get('email')?.dirty || userInfoForm.get('email')?.touched) ? 'red' : '' }"
                 formControlName="email">
        </div>
      </div>

      <div class="data-form-block">
        <div class="data-form-label">
          Адрес доставки
        </div>
        <div class="data-form-inputs address-inputs">
          <input type="text" class="input street" placeholder="Улица"
                 [ngStyle]="{'border-color': userInfoForm.get('street')?.invalid
                   && (userInfoForm.get('street')?.dirty || userInfoForm.get('street')?.touched) ? 'red' : '' }"
                 formControlName="street">
          <input type="text" class="input house" placeholder="№ дома"
                 [ngStyle]="{'border-color': userInfoForm.get('house')?.invalid
                   && (userInfoForm.get('house')?.dirty || userInfoForm.get('house')?.touched) ? 'red' : '' }"
                 formControlName="house">
          <input type="text" class="input entrance" placeholder="Подъезд"
                 [ngStyle]="{'border-color': userInfoForm.get('entrance')?.invalid
                   && (userInfoForm.get('entrance')?.dirty || userInfoForm.get('entrance')?.touched) ? 'red' : '' }"
                 formControlName="entrance">
          <input type="text" class="input apartment" placeholder="№ квартиры"
                 [ngStyle]="{'border-color': userInfoForm.get('apartment')?.invalid
                   && (userInfoForm.get('apartment')?.dirty || userInfoForm.get('apartment')?.touched) ? 'red' : '' }"
                 formControlName="apartment">
        </div>
      </div>

      <div class="data-form-block">
        <div class="data-form-label">
          Предпочитаемый способ доставки
        </div>
        <div class="data-form-types">
          <div class="data-form-type-item" [class.active]="deliveryType === deliveryTypes.delivery"
               (click)="changeDeliveryType(deliveryTypes.delivery)">Курьером
          </div>
          <div class="data-form-type-item" [class.active]="deliveryType === deliveryTypes.self"
               (click)="changeDeliveryType(deliveryTypes.self)">Самовывоз
          </div>
        </div>
      </div>

      <div class="data-form-block">
        <div class="data-form-label">
          Предпочитаемый способ доставки
        </div>
        <div class="data-form-radio">
          <div class="data-form-radio-block">
            <input type="radio" id="card" value="{{paymentTypes.cardOnline}}" formControlName="paymentType">
            <label for="card">Оплата банковской картой в интернет-магазине</label>
          </div>
          <div class="data-form-radio-block">
            <input type="radio" id="cashless" value="{{paymentTypes.cardToCourier}}" formControlName="paymentType">
            <label for="cashless">Безналичный расчет при получении</label>
          </div>
          <div class="data-form-radio-block">
            <input type="radio" id="cash" value="{{paymentTypes.cashToCourier}}" formControlName="paymentType">
            <label for="cash">Наличный расчет при получении</label>
          </div>
        </div>
      </div>

      <button class="button" [disabled]="!(userInfoForm.dirty && userInfoForm.valid)" (click)="updateUserInfo()">Сохранить</button>
    </div>

  </div>
  <div class="page-image">
    <img src="/assets/images/page/main.png" alt="flower">
  </div>
</div>

