.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, .8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
