@import "../../../../assets/styles/auth-form";

.signup {
  margin-top: 10px;

  .container {
    display: flex;

    .page-image {
      margin-left: 222px;

      img {
        vertical-align: bottom;
      }
    }
  }
}


