@import "variables";

.auth-form {
  margin-top: 50px;
  margin-bottom: 110px;

  .auth-title {
    color: $green-text-color;
    font-family: 'Lora', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 35px;
  }

  .auth-inputs{
    margin-bottom: 30px;

    .auth-input{
      margin-bottom: 8px;

      input{
        width: 422px;
      }
    }

    .auth-checkbox{
      max-width: 422px;
      display: flex;
      align-items: baseline;

      input{
        margin: 0;
      }

      label{
        font-size: 16px;
        line-height: 130%;
        margin-left: 10px;

        a{
          color: #519057;
          text-decoration: none;
        }
      }
    }
  }

  .auth-button{
    margin-top: 30px;

    button.button {
      width: 422px;
    }
  }

  .auth-link{
    margin-top: 8px;
    color: $grey-text-color;
    font-size: 16px;

    a{
      text-decoration: none;
      margin-left: 5px;
      color: #519057;
    }

  }


}
